<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.solazodev"
    android:versionCode="3"
    android:versionName="1.0.x" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Solazo" >
        <activity
            android:name="org.solazodev.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="org.solazodev.GuessActivity" />
        <activity android:name="org.solazodev.SubmitActivity" />
        <activity android:name="org.solazodev.AboutFragment" />
        <activity android:name="org.solazodev.TabActivity" />
        <activity android:name="org.solazodev.LocationActivity"/>
        <activity android:name="org.solazodev.utils.LocationUtils"/>

    </application>

</manifest>
